<app-header></app-header>
<main class="content">
  <h2>Crear carro</h2>
  <form [formGroup]="form" (ngSubmit)="save()">
    <input formControlName="placa" placeholder="Placa">
    <input formControlName="modelo" placeholder="Modelo">
    <input type="date" formControlName="fechaIngreso">
    <select formControlName="estado" [disabled]="!isAdmin()">
      <option *ngFor="let e of estados" [value]="e">{{ e }}</option>
    </select>
    <small *ngIf="!isAdmin()">Como USER, el estado se registrará automáticamente en EN_REVISION.</small>
    <input formControlName="tipoDanio" placeholder="Tipo daño">
    <button>Guardar</button>
  </form>
</main>
